
@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--TITULO PAGINA-->
    <title>@ViewData["Title"] - Marte~Tec</title>
</head>
<body>
    <!-- DASHBOARD -->
    <div class="dashboard-container">
        <div class="dashboard-contenido">
            <h2 class="logo">
                <img src="~/img/logo_nombre.png" alt="">
                <!--Marte~Tec-->
            </h2>

            <div class="texto-sci">
                <h2>Bienvenido!<br><span>A Nuestro Proyecto</span></h2>

                <p>"Un ejército es tan fuerte, como su eslabón más débil"</p>

                <div class="social-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
        <div class="login-box">

            @*FORMULARIO DE LOGIN*@
            <div class="formulario-box login">
                <form method="post">
                    <h2>Iniciar Sesion</h2>

                    @*CAMPO DE ENTRADA PARA CORREO*@
                    <div class="entrada-box">
                        <span class="icono">
                            <i class='bx bxs-envelope'></i>
                        </span>
                        <input type="email" required autocomplete="off">
                        <label>Email</label>
                    </div>

                    @*CAMPO DE ENTRADA PARA CONTRASEÑA*@
                    <div class="entrada-box">
                        <span class="icono">
                            <i class='bx bxs-lock-alt'></i>
                        </span>
                        <input type="password" required autocomplete="off">
                        <label>Password</label>
                    </div>

                    @*CAMPO DE ENTRADA PARA CHEKBOX RECORDAR*@
                    <div class="recordar-forgot">
                        <label>
                            <input type="checkbox">
                            Recordarme
                        </label>
                        <a href="#">¿Olvidaste Contraseña?</a>
                    </div>

                    @*BOTON PARA INCIAR SESION*@
                    <button type="submit" class="boton">Iniciar Sesión</button>

                    @*CAMPO PARA IR A FORMULARIO REGISTRARSE*@
                    @*<div class="login-register">
                        <p>
                            ¿No tienes una Cuenta?
                            <a href="#" class="register-link">Registrase</a>
                        </p>
                    </div>*@
                </form>
            </div>

           @*FORMULARIO DE REGISTRO*@
            @*<div class="formulario-box register">
                <form method="post">
                    <h2>Registrarse</h2>

                    <!--CAMPO DE ENTRADA PARA NOMBRE-->
                    <div class="entrada-box">
                        <span class="icono">
                            <i class='bx bxs-user'></i>
                        </span>
                        <input type="text" required autocomplete="off">
                        <label>Nombre</label>
                    </div>

                    <!--CAMPO DE ENTRADA PARA CORREO-->
                    <div class="entrada-box">
                        <span class="icono">
                            <i class='bx bxs-envelope'></i>
                        </span>
                        <input type="email" required autocomplete="off">
                        <label>Email</label>
                    </div>

                    <!--CAMPO DE ENTRADA PARA CONTRASEÑA-->
                    <div class="entrada-box">
                        <span class="icono">
                            <i class='bx bxs-lock-alt'></i>
                        </span>
                        <input type="password" required autocomplete="off">
                        <label>Password</label>
                    </div>

                    <!--CAMPO DE ENTRADA PARA CHECKBOX TERMINOS Y CONDIIONES-->
                    <div class="recordar-forgot">
                        <label>
                            <input type="checkbox">
                            Acepta los Terminos y Condiciones
                        </label>
                    </div>

                    <!--BOTON PARA REGISTRARSE-->
                    <button type="submit" class="boton">Registrarse</button>

                    <!--CAMPO PARA IR A FORMULARIO INICIAR SESION-->
                    <div class="login-register">
                        <p>
                            ¿Si Tengo una Cuenta?
                            <a href="#" class="login-link">Iniciar Sesion</a>
                        </p>
                    </div>
                </form>
            </div>*@
        </div>
    </div>

    <script>
        //INICIO DE SESION
        const logregBox = document.querySelector('.login-box');
        const loginLink = document.querySelector('.login-link');
        const registerLink = document.querySelector('.register-link');

        registerLink.addEventListener('click', () => {
            logregBox.classList.add('activar');
        });

        loginLink.addEventListener('click', () => {
            logregBox.classList.remove('activar');
        });
    </script>

    <script src="~/js/site.js"></script>
</body>
</html>

