@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="index.cshtml.css">
    <!--ICONS-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--FAVICON-->
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
    <!--TITULO PAGINA-->
    <title>Login - Marte~Tec</title>
</head>
<body>
    <!--
    <header class="header">
        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Servicios</a>
            <a href="#">Contact</a>
        </nav>

        <form action="#" class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button type="submit"><i class='bx bx-search-alt-2'></i></button>
        </form>
    </header>
    -->
    <div class="background"></div>

    <div class="container">
        <div class="content">
            <h2 class="logo">
                <!--<i class='bx bxl-graphql'></i>-->
                <img src="./img/logo_sombreado.png" alt="">
                Marte~Tec
            </h2>

            <div class="text-sci">
                <h2>Bienvenido!<br><span>A Nuestro Proyecto.</span></h2>
                
                <p>"Un ejército es tan fuerte, como su eslabón más débil"</p>

                <div class="social-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
        <div class="logreg-box">
            <div class="form-box login">
                <form action="#">
                    <h2>Iniciar Sesion</h2>

                    <div class="input-box">
                        <span class="icon">
                            <i class='bx bxs-envelope'></i>
                        </span>
                        <input type="email" required autocomplete="off">
                        <label>Email</label>
                    </div>

                    <div class="input-box">
                        <span class="icon">
                            <i class='bx bxs-lock-alt'></i>
                        </span>
                        <input type="password" required autocomplete="off">
                        <label>Password</label>
                    </div>

                    <div class="remember-forgot">
                        <label>
                            <input type="checkbox">
                            Recordarme
                        </label>
                        <a href="#">¿Olvidaste Contraseña?</a>
                    </div>
                    
                    <button type="submit" class="btn">Iniciar Sesión</button>

                    <div class="login-register">
                        <p>
                            ¿No tienes una Cuenta?
                            <a href="#" class="register-link">Registrase</a>
                        </p>
                    </div>
                </form>
            </div>

            <div class="form-box register">
                <form action="#">
                    <h2>Registrarse</h2>

                    <div class="input-box">
                        <span class="icon">
                            <i class='bx bxs-user'></i>
                        </span>
                        <input type="text" required autocomplete="off">
                        <label>Nombre</label>
                    </div>

                    <div class="input-box">
                        <span class="icon">
                            <i class='bx bxs-envelope' ></i>
                        </span>
                        <input type="email" required autocomplete="off">
                        <label>Email</label>
                    </div>

                    <div class="input-box">
                        <span class="icon">
                            <i class='bx bxs-lock-alt'></i>
                        </span>
                        <input type="password" required autocomplete="off">
                        <label>Password</label>
                    </div>

                    <div class="remember-forgot">
                        <label>
                            <input type="checkbox">
                            Acepta los Terminos y Condiciones
                        </label>
                    </div>

                    <button type="submit" class="btn">Registrarse</button>

                    <div class="login-register">
                        <p>
                            ¿Si Tengo una Cuenta?
                            <a href="#" class="login-link">Iniciar Sesion</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
