@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root {
    --amarillo: #FEB437;
    --naranja: #f83310;
    --gris: #333333;
    --negro: #000000;
    --blanco: #fff;
}

body {
    background-color: var(--gris);
}

.background {
    width: 100%;
    height: 100vh;
    background: url('../img/fondo5.png') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

    .navbar a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 2px;
        background: #e4e4e4;
        border-radius: 5px;
        transform: translateY(10px);
        opacity: 0;
        transition: .5s;
    }

    .navbar a:hover::after {
        transform: translateY(0);
        opacity: 1;
    }

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

    .search-bar input {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        color: #e4e4e4;
        padding-left: 10px;
    }

        .search-bar input::placeholder {
            color: #e4e4e4;
        }

    .search-bar button {
        width: 40px;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

        .search-bar button i {
            font-size: 22px;
            color: #e4e4e4;
        }

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 75%;
    background: url('../img/fondo7.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 20px 20px 6px rgb(0, 0, 0, .5);
}

    .container .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 58%;
        height: 100%;
        background: transparent;
        padding: 8px 25px 25px 25px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

.content .logo {
    font-size: 50px;
    color: #F8101A;
    font-weight: 900;
    display: flex;
    align-items: center;
    filter: drop-shadow(3px 3px 2px #000000)
}

    .content .logo img {
        width: 80%;
        height: 120px;
    }

.text-sci h2 {
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
}

    .text-sci h2 span {
        font-size: 25px;
    }

.text-sci p {
    margin: 20px 0;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    color: #FEB437;
}

.social-icons a i {
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

    .social-icons a i:hover {
        transform: scale(1.65);
        color: #FEB437;
    }

.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    overflow: hidden;
}

.logreg-box .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(100px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}

    .logreg-box .form-box.login {
        transform: translateX(0);
        transition: transform .6s ease;
        transition-delay: .6s;
    }

.logreg-box.active .form-box.login {
    transform: translateX(430px);
    transition-delay: 0s;
}

.logreg-box .form-box.register {
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.register {
    transform: translateX(0px);
    transition-delay: .6s;
}

.form-box h2 {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #FEB437;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 700;
    pointer-events: none;
    transition: .5s ease;
    color: #ffffff;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #FEB437;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
    color: #FEB437;
}

.form-box .remember-forgot {
    font-size: 14.5px;
    font-weight: 500;
    padding: 10px 0;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
}

.remember-forgot a {
    color: #e4e4e4;
    text-decoration: none;
}

    .remember-forgot a:hover {
        text-decoration: underline;
    }

.btn {
    width: 100%;
    height: 45px;
    background: #FEB437;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    color: #020410;
    font-weight: 500;
    box-shadow: 0 10px 10px rgb(0, 0, 0, .5);
    transition: .5s;
}

    .btn:hover {
        background-image: linear-gradient(to bottom, #FEB437, #F8101A);
        box-shadow: 0 15px 10px rgb(0, 0, 0, .5);
        color: #ffffff;
        transition: .5s;
        transform: scale(1.06);
    }

.form-box .login-register {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

    .login-register p a:hover {
        text-decoration: underline;
        color: #FEB437;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}

    .footer .politica span {
        color: #FEB437;
    }


/************** MENU LATERAL **************/
.contenedor {
    width: 272px;
    min-height: 100vh;
    position: fixed;
    background: transparent;
    transition: all .3s;
    z-index: 1;
}

    .contenedor.active {
        width: 8%;
        min-height: 100vh;
        position: fixed;
        z-index: 1;
    }

.sidebar {
    position: relative;
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all .3s;
    background: var(--negro);
    box-shadow: 8px 9px 0 0 var(--amarillo);
}

    .sidebar .head {
        display: flex;
        gap: 20px;
    }

.menu {
    padding-top: 15px;
    border-top: 2px solid var(--amarillo);
}

.menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--negro);
    border: 2px solid var(--negro);
    background-color: var(--amarillo);
    transition: all .3s;
    z-index: 101;
}

    .menu-btn:hover {
        color: var(--amarillo);
        border: 2px solid var(--amarillo);
        background-color: var(--negro);
    }

    .menu-btn.active i {
        transform: rotate(180deg);
    }

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

    .user-img img {
        width: 100%;
        object-fit: cover;
    }

.user-details .title {
    font-size: 12px;
    font-weight: 800;
    color: var(--amarillo);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.user-details .name {
    color: var(--blanco);
    font-size: 22px;
    font-weight: 600;
}

.nav {
    flex: 1;
}

.sidebar.active {
    width: 92px;
}

    .sidebar.active .user-details {
        display: none;
    }

    .sidebar.active .menu .title {
        text-align: center;
    }

    .sidebar.active .menu ul li .arrow {
        display: none;
    }

    .sidebar.active .menu > ul > li > a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .sidebar.active .menu > ul > li > a .text {
            position: absolute;
            left: 70px;
            top: 50%;
            transform: translateY(-50%);
            padding: 10px;
            border-radius: 4px;
            color: var(--blanco);
            background-color: var(--naranja);
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
        }

            .sidebar.active .menu > ul > li > a .text::after {
                content: "";
                position: absolute;
                left: -2px;
                top: 20%;
                width: 20px;
                height: 20px;
                border-radius: 2px;
                background-color: var(--naranja);
                transform: rotate(45deg);
                z-index: -1;
            }

        .sidebar.active .menu > ul > li > a:hover .text {
            left: 50px;
            opacity: 1;
            visibility: visible;
        }

    .sidebar.active .menu .sub-menu {
        position: absolute;
        top: 0;
        left: 20px;
        width: 200px;
        border-radius: 20px;
        padding: 10px 20px;
        border: 2px solid var(--amarillo);
        background-color: var(--negro);
        box-sizing: 0px 10px 8px var(--naranja);
    }

.menu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--amarillo);
}

.menu .title {
    font-size: 10px;
    font-weight: 500;
    color: var(--amarillo);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}

    .menu ul li a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 500;
        color: var(--blanco);
        text-decoration: none;
        padding: 12px 8px;
        border-radius: 8px;
        transition: all .3s;
    }

    .menu ul li > a:hover,
    .menu ul li.active > a {
        background-color: var(--naranja);
        transform: translateX(5px);
        /*font-weight: 700;*/
    }

    .menu ul li .icon {
        font-size: 20px;
        color: var(--amarillo);
    }

    .menu ul li .text {
        flex: 1;
    }

    .menu ul li .arrow {
        font-size: 14px;
        transition: all .3s;
    }

    .menu ul li.active .arrow {
        transform: rotate(180deg);
    }

.menu .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid var(--amarillo);
}

    .menu .sub-menu li a {
        padding: 10px 8px;
        font-size: 12px;
    }